* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 30px;
    background-color: rgb(202, 202, 202);
    
}

.title, .text {
    text-align: center;
}

.btn {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    border: 2px solid #03a9f4;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
    cursor: pointer;
}

.round-close {
    border: 1px solid red;
    background: red;
    color: #fff;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 14px;

    position: absolute;
    bottom: 20px;
}

.block-modal-test {
    width: 250px;
    height: 340px;
    border: 1px solid black;

    margin: 50px auto;
    position: relative;

    overflow: hidden;
}

.form-slider {
    margin-left: 0;
    width: 500px;
    height: 340px;
    background: bisque;
    transition: all ease 1s;
    
}

.left-50, .right-50 {
    padding: 10px;
    width: 50%;
    float: left;
   
    min-height: 50px;
}

.right-50 {
    
    max-height: 340px;
    overflow-y: scroll;
}

.read-rules, .read-rules-back {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
